In [3]:
! pip install pymongo

Requirement already satisfied: pymongo in c:\users\tsube\anaconda3\lib\site-packages (3.12.0)

In [6]:
import json
import pymongo
from pymongo import MongoClient
import requests
import pandas as pd
import urllib

In [7]:
# Connecting to MongoDB
client = pymongo.MongoClient("mongodb://localhost:27017/")
db = client["us_cases_db"]
collection = db.us_cases

# Extracting data from CDC webdata using API
url = ("https://data.cdc.gov/resource/9mfq-cb36.json?$limit=500")
response = urllib.request.urlopen(url)
data = json.loads(response.read())

# inserting data in MongoDB
collection.insert_many(data)

# Retrieve Data from MongoDB

In [184]:
import pymongo
lient = pymongo.MongoClient("mongodb://localhost:27017/")
db = client["us_cases_db"]
collection = db.us_cases
cursor = collection.find()
cases_data = list(cursor)
us_cases_data = pd.DataFrame(cases_data)
us_cases_data

,_id,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,created_at,consent_cases,consent_deaths
0,61ac7ae661d70f2a161400d4,2021-02-12T00:00:00.000,UT,359641,359641.0,0,1060.0,0,1785,1729.0,56,11.0,2,2021-02-13T14:50:08.565,Agree,Agree
1,61ac7ae661d70f2a161400d5,2021-03-01T00:00:00.000,CO,438745,411869.0,26876,677.0,60,5952,5218.0,734,1.0,0,2021-03-01T00:00:00.000,Agree,Agree
2,61ac7ae661d70f2a161400d6,2020-08-22T00:00:00.000,AR,56199,NaN,NaN,547.0,0,674,NaN,NaN,11.0,0,2020-08-23T14:15:28.102,Not agree,Not agree
3,61ac7ae661d70f2a161400d7,2020-08-12T00:00:00.000,AS,0,NaN,NaN,0.0,0,0,NaN,NaN,0.0,0,2020-08-13T14:12:28.259,NaN,NaN
4,61ac7ae661d70f2a161400d8,2020-06-05T00:00:00.000,HI,661,NaN,NaN,8.0,0,17,NaN,NaN,0.0,0,2020-06-06T10:31:37.000,Not agree,Not agree
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40915,61ac7aed61d70f2a1614a0a7,2021-07-14T00:00:00.000,NY,1160539,NaN,NaN,336.0,0,19954,NaN,NaN,2.0,0,2021-07-15T14:29:47.308,Not agree,Not agree
40916,61ac7aed61d70f2a1614a0a8,2020-05-28T00:00:00.000,IA,18585,NaN,NaN,228.0,0,506,NaN,NaN,14.0,0,2020-05-29T14:19:55.781,Not agree,Not agree
40917,61ac7aed61d70f2a1614a0a9,2020-06-07T00:00:00.000,SD,5438,NaN,NaN,71.0,0,65,64.0,1,0.0,1,2020-06-08T14:55:08.000,N/A,Agree
40918,61ac7aed61d70f2a1614a0aa,2021-09-25T00:00:00.000,RMI,4,4.0,0,0.0,0,0,0.0,0,0.0,0,2021-09-27T13:21:43.831,Agree,Agree
40919,61ac7aed61d70f2a1614a0ab,2021-03-13T00:00:00.000,IA,342495,NaN,NaN,425.0,77,5633,NaN,NaN,3.0,3,2021-03-14T13:53:25.106,Not agree,Not agree

In [194]:
us_cases_data = us_cases_data.drop(columns = '_id')

In [200]:
us_cases_data["date"]=pd.to_datetime(us_cases_data["submission_date"])
print(us_cases_data['date'].dtype)

datetime64[ns]

In [202]:
us_cases_data = us_cases_data.astype({'tot_cases': 'float64', 'new_case': 'float64'})

In [204]:
us_cases_data.dtypes

submission_date            object
state                      object
tot_cases                 float64
conf_cases                 object
prob_cases                 object
new_case                  float64
pnew_case                  object
tot_death                  object
conf_death                 object
prob_death                 object
new_death                  object
pnew_death                 object
created_at                 object
consent_cases              object
consent_deaths             object
date               datetime64[ns]
dtype: object